body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2d3c49;
}

a {
  text-decoration: none;
  color: #2d3c49;
}

a:hover {
  color: #1f1e1e;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  color: #7d97ad;
}

h3 {
  padding:10px;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-weight: 300;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  margin-top: 1.5em;
  padding: 0 1em;
}

header, section, article, div {
  box-sizing: border-box;
}

header {
  margin-top: 1em;
  padding:  0 1em;
}

.header_logo {
  width:30%;
}

.logo_vector {
  width: 60px;
}

.header_title {
  width: 70%;
  text-align: right;
}

nav a {
  text-align: center;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.hamburgerMenu svg {
  width: 40px;
  fill: #000;
}

hr {
  margin:10px 0;
}

main {
  width: 100%;
  margin: 10px 0;
}

section {
  width:100%;
  margin: 1.5em 0;
}

section img {
  width:100%;
}

.showcase {
  width: 100%;
}

article {
  width: 100%;
  margin: 1.5em 0;
}

article p {
  padding-left: 10px;
  margin: 0;
}
